.row{
  padding: 0 !important;
  margin: 0 !important;
}


#menu{

  background-color: #002855 !important;
  color: white;
}

#logo{
  border: white 1px dashed;
  padding: 1%;
  color: white;
}

#menuItemContainer{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;

}

.menuItem {
  margin-left: 10% !important;
  margin-right: 10% !important;
  cursor: pointer;
}

.hidden{
  display: none;
}

.torrentBlock{
  border-bottom: 1px inset #7D8597;
  cursor: pointer;
}

.torrentBlock:hover{
  color: #001233;
  background-color: #979DAC;
}
.selectedTorrent {
  color: #001233;
  background-color: #7D8597;
}

/*
.menuItem span {
  margin: 2%;
}

.menuItemIcon{
  width: 32px;
  height: 32px;
  fill: white;

}*/